.buttonDelete{
  width: 25px;
  height: 50px;
  background: blue;
  color: red;
}
.titleTodo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0;
  font-size: 28px;
  position: relative;
}
.wrapperNameTodo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.wrapperTodo{
  width: 300px;
  border: gray 1px solid;
  padding: 10px 10px;
  border-radius: 10px;
  margin-right: 50px;
}